* {
    background-color: #c5af97;
}

h1, h2, .link {
    text-align: center;
}
h1, h2 {
    font-family: cursive, sans-serif;
}
h1 {
    color: #4C7585;
    font-weight: 1000;
    font-size: 48px;
}
h2 {
    color: #446A78;
    font-size: 32px;
}
p, li {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
}
ul, ol, li, p {
    background-color: #FFEFDE;
}
ul, ol, p {
    border-radius: 10%;
    width: 800px;
    padding: 100px ;
    margin: auto;
    color: #403C37;
}
li, .link {
    margin-top: 10px;
}
.text {
    padding-top: 50px;
    padding-bottom: 50px;
}
.link {
    font-family: comic-sans, sans-serif;
    font-size: 32px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
.center.jake {
    border-radius: 2%;
}
.center.smore {
    border-radius: 2%;
    width: 35%;
}
