* {
    background-color: #c5af97;
}

h1, h2, .link {
    text-align: center;
}
h1, h2 {
    font-family: cursive, sans-serif;
}
h1 {
    color:#649775;
    font-weight: 1000;
}
h2 {
    color: #136363;
}
p, li {
    font-family: sans-serif;
    font-size: 18px;
}
.link {
    font-family: comic-sans, sans-serif;
    font-size: 32px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
.center.jake {
    border-radius: 2%;
}
.center.smore {
    border-radius: 2%;
    width: 35%;
}